.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  img {
    width: 100%;
  }

  li {
    list-style-type: none;
    width: 19vw;
    margin: 1rem;
    background-color: #f3f3f3;
    color: #222;
  }

  li h3,
  li p {
    padding: 0 1rem;
  }
}

.Main_characters {
  li {
    background-color: red;
    color: #f3f3f3;
  }
}

.Monster_of_the_Week {
  li {
    background-color: #000;
    color: green;
  }
}



